
#home .background {
  filter: brightness(0.5) blur(1px);
  background-attachment: scroll;
}

body {
  font-family: "IBM Plex Sans Condensed";
}
h1,h2,h3,h4,h5 {
  font-family: "Titillium Web";
}


pre,code{
  font-family: "Jetbrains Mono";
}

.card-body{
  text-align: left;
}

.initial-navbar .navbar-brand, .final-navbar .navbar-brand {
  font-weight: 400;
}
