
#home .background {
  filter: brightness(0.5) blur(1px);
  background-attachment: scroll;
}

body {
  font-family: "Exo 2";
}

.initial-navbar .navbar-brand, .final-navbar .navbar-brand {
  font-weight: 400;
}
