
#home .background {
  filter: brightness(0.5) blur(1px);
  background-attachment: scroll;
}

body {
  font-family: "IBM Plex Sans", sans-serif;
}

h1,h2,h3,h4,h5 {
  font-family: "Bai Jamjuree", sans-serif;
}

h1,h2,h3,h4 {
  font-weight: 700;
}

h5 {
  font-weight: 500;
}

code{
  font-family: "IBM Plex Mono";
}

.navbar, .typing-carousel{
  font-family: "Bai Jamjuree";
  font-weight: 500;
}

.card-body{
  text-align: left;
}

.initial-navbar .navbar-brand, .final-navbar .navbar-brand {
  font-weight: 700;
}
